@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&display=swap');

body {
    height: 100vh;
    width: 100%;

    background: url("../images/blue-background.jpg") no-repeat bottom right ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
/****************************navbar******************************************/
.navbar-dark .navbar-nav .nav-link {
    color: #fafafa;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
}
/*******************************logo*******************************************/
.name-container {
    text-align: center;
}
#logo {
    width: 180px;
    height: 180px;
    margin: auto;
    text-align: center;
    color: #eca54c;
    border: 2px solid #eca54c;
    border-radius: 50%;
}
#logo > h1 {
    padding-top: 30px;
}
.message-homepage {
    padding-top: 10px;
    font-size: 25px;
    font-weight: 600;
    color: #eca54c;
    text-align: center;
}
.difficulty-selection-container {
    padding-left: 55px;
    font-size: 25px;
    text-align: center;
    font-weight: 500;
    color: #eca54c;
}
label {
    padding-right: 40px;
}
.start-button-container {
    text-align: center;
}
.btn-success {
    width: 150px;
    height: 150px;
    font-size: 30px;
    color: #fafafa;
    background-color: #28a745;
    border-color: #eca54c;
    border-radius: 50%;
}
p {
    margin-bottom: 5px;
}
.footer-container {
    padding: 20px 150px 5px;
    text-align: center;
    color: #fafafa;
}
.footer-container i {
    color: #fafafa;
}
.copyright-container {
    font-size: 15px;
}
@media screen and (min-width:1000px) {
    .footer-container {
        padding: 20px 250px 5px;
    }
}
@media screen and (max-width: 575px) {
    .navbar-dark .navbar-nav .nav-link {
    color: #fafafa;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    }
    p {
        font-size: 20px;
    }
    .difficulty-selection-container {
        padding-left: 25px;
        padding-right: 0;
        font-size: 20px;
    }
    label {
        padding-right: 30px;
    }
    .footer-container {
        padding: 20px 20px 5px;
        text-align: center;
        color: #fafafa;
    }
    .copyright-container {
        font-size: 15px;
        padding-top: 10px;
    }
    
}
@media screen and (max-width:350px) {
    html, body{
        width:100%;
        overflow-x:hidden;
        height: 100%;
    }
    .navbar {
        padding: 0;
    }
    .container-fluid {
        padding: 0;
    }
    p {
        font-size: 18px;
    }
    .difficulty-selection-container {
        padding-left: 10px;
        padding-right: 0;
        font-size: 15px;
    }
    .footer-container {
        padding: 20px 5px 5px;
        text-align: center;
        color: #fafafa;
    }
    .copyright-container {
        font-size: 10px;
        padding-top: 10px;
    }

}