@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
html, body {
    overflow-x: hidden;
    width: 100%;
    height: auto;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    }
body {
    overflow-x: hidden;
}
.background-container {
    background: var(--homepageBg) no-repeat bottom right; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/****************************navbar******************************************/
.navbar {
    border-radius: 20px;
    background-color: var(--navbarBgColor);
    color: var(--navbarTextColor);
}
.navbar-dark .navbar-nav .nav-link {
    color: var(--navbarTextColor);
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
.navbar-brand {
    padding-right: 30px;
    display: none;
}
/*******************************logo*******************************************/
.header-container-bg {
    background: var(--mainHeaderHomepage) no-repeat bottom right; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.header-container {
    position: relative;
    height: 180px;
}
#logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    height: 180px;
    text-align: center;
    background-color: #000;
    color: #eca54c;
    border-radius: 50%;
    -webkit-transition:  5s ease;
    transition:  5s ease;
}
#logo-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 180px;
    height: 180px;
    text-align: center;
    background-color: transparent;
    color: #eca54c;
    border: 2px solid #eca54c;
    border-radius: 50%;
    -webkit-transition: 5s ease;
    transition: 5s ease;
}
#logo h1 {
    display: none;
}
#logo-right h1 {
    padding-top: 40px;
    color: #eca54c;
    text-decoration: none;
}
#logo a:hover {
    text-decoration: none;
}
#logo-right a:hover {
    text-decoration: none;
}
/******************************homepage message container*******************/
.main-page-game-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    margin-left: 10px;
    margin-right: 10px;
    }
.main-page-game-container .col-12 {
    text-align: center;
}
.message-home {
    padding: 30px;
    color: var(--messageHomepage);
    background-color: var(--messageHomepageBgColor);
    text-align: center;
    line-height: 40px;
    letter-spacing: 1px;
    border-radius: 20px;
    line-height: 60px;
}
.message-home p {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
}
/*******buttons container homepage*************/
.go-btn-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 100px 200px;
}
.start-btn-section {
    display: none;
}
.start-btn-section {
    flex-direction: column;
    justify-content: center;
    margin: 50px 100px 200px;
}
.start-game-btn {
    width: 100px;
    height: 100px;
    margin-top: 30px;
    padding-top: 10px;
    border: 2px solid #111111;
    border-radius: 10px;
    font-weight: 400;
}
.start-game-btn i {
    font-size: 30px;
    color: #c32aa3;
}
.go-button-text {
    font-size: 30px;
}
/*#hint-mobile-message {
    display: none;
}
#hint-mobile-text {
    display: none;
}*/
.start-button-container {
    text-align: center;
}
.start-button-container  .btn-success {
    margin-top: 100px;
    width: 200px;
    height: 100px;
    padding-top: 10px;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: none;
}
.start-button-container button i {
    font-size: 30px;
    color: rgb(66, 66, 114);
}
.start-game-button {
    background-color: #b0b9b3;
    border-color: #000;
}
.start-button-text {
    font-weight: 400;
    color: #000;
}
/*****************************footer***************************/
footer {
    position: absolute;
    width: 100%;
}
.footer-container {
    padding: 20px 150px 5px;
    text-align: center;
    background-color: var(--footerBgColor);
    color: var(--footerTextColor);
}
.footer-container i {
    color: var(--footerTextColor);
}
.copyright-container {
    font-size: 15px;
    padding-top: 15px;
}
/***********************question display and answers buttons************************/
.question-container {
    margin-top: 100px;
    padding: 10px 20%;
    text-align: center;
    color: var(--questionColor);
    background-color: var(--questionBgColor);
    border-radius: 20px;
}
.question-container p {
    margin-bottom: 5px;
    font-size: 20px;
    border-radius: 10px
}
.question-container hr {
    background-color: #713200;
    height: 0.5px;
    width: 50%;
    margin-top: 0;
    margin-bottom: 10px;
}
/***********boolean answer buttons**************/
.boolean-answer-container {
    margin: 100px 50px;
    text-align: center;
    padding: 10px;
}
.boolean-answer-container button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.boolean-answer-container .btn-danger {
    margin-left: 100px;
}
/***********multiple answer buttons***************/
.multiple-answer-container {
    margin: 80px 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.multiple-answer-container div {
    text-align: center;
    padding-top: 20px;
}
.multiple-answer-container .btn-secondary {
    margin-top: 15px;
    background-color: #4cecd7;
    color: #000;
}
/***********counter container*****************/
.counter-container {
    text-align: center;
    background-color: #fafafa;
    border-radius: 10px;
    margin: 50px 10%;
}
#correct-answers {
    color: green;
    font-weight: 600;
}
#incorrect-answers {
    color: red;
    margin-left: 50px;
    font-weight: 600;
}
#correct-number {
    font-size: 20px;
    color: #111;
    padding-left: 10px;
}
#incorrect-number {
    font-size: 20px;
    color: #111;
    padding-left: 10px;
}
/********************************end-of-test-page********************************************/
.message-finish-test {
    margin-top: 15px;
    text-align: center;
    line-height: 25px;
    font-weight: 600;
    color: var(--messageFinishTest);
    padding-top: 20px;
    letter-spacing: 3px;
    background-color: var(--messageFinishTestBgColor);
    padding-bottom: 20px;
    border-radius: 20px;
}
.message-finish-test p {
    padding-top: 10px;
}
.end-button-container {
    text-align: center;
}
.end-button-container button {
    width: 100px;
    height: 80px;
    border-radius: 10px;
    margin: 50px 0 30px;
}
/*******registration form header**************/
.registration {
    height: 100vh;
    background: url("../images/registration-bg-light.jpg") no-repeat bottom right; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fafafa;
}
.registration-header-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 116px;
    position: relative;
    z-index: 1;
    padding-top: 8px;
}
.small-trivia-logo {
    width: 100px;
    height: 100px;
    margin: auto;
    text-align: center;
    background-color: #000;
    color: #fafafa;
    border: 2px solid #fafafa;
    border-radius: 50%;
}
.small-trivia-logo h3 {
    color: #fafafa;
    font-weight: 600;
    text-decoration: none;
}
.registration-form-home-link {
    font-size: 10px;
    margin-top: -7px;
    color: #fafafa;
}
.small-trivia-logo a:hover {
    text-decoration: none;
}
.jumbotron-reg-form {
    padding: 0;
    max-width: 700px;
}
.form-control {
    width: 60%;
}
.register-form-container {
    margin: 20px;
}
.register-form-container h4 {
    text-align: center;
}
.registration-form-label {
    text-align: right;
    padding-top: 10px;
}
.registration-form-input {
    text-align: left;
    padding-top: 10px;
}
.registration-form-input input {
    color: #000;
    border-radius: 10px;
}

/*.modal-btn-container {
    padding-top: 20px;
}*/
/*.modal-cancel {
    padding-top: 10px;
}
.modal-cancel a {
    color: #fafafa;
}
.modal-cancel a:hover {
    color: #fafafa;
    text-decoration: none;
}*/
/******************links to share result********************/
/**************code taken fron youtube tutorial https://www.youtube.com/watch?v=YcEshVZNA5E*/
.share-result-wrapper {
    margin: 100px auto;
    text-align: center;
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
}
.toggle-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 45px;
    background-color: #ff933d;
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.1s ease;
}
.toggle-button ul {
    margin: 0;
    padding: 0;
}
.toggle-button ul li a {
    display: flex;
    height: 45px;
    align-items: center;
    padding: 0 20px;
}
.toggle-button ul li a#share-btn {
    justify-content: center;
}
.toggle-button ul li a#share-btn .text {
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 10px;
    color: #000;
    margin-right: 10px;
}
.toggle-button ul li a#share-btn .icon {
    width: 35px;
    height: 35px;
    color: #111;
    background-color: #713200;
    display: inline-block;
    border-radius: 50%;
    transition: all 1s ease;
    position: relative;
}
.toggle-button ul li a .icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fafafa;
}
.toggle-button ul li a.sm .icon {
    position: relative;
    width: 30px;
    height: 30px;
    background-color: #713200;
    border-radius: 50%;
    margin-right: 15px;
}
.toggle-button ul li a .text {
    letter-spacing: 2px;
}
.toggle-button ul li a.facebook .icon {
    background-color: #3b5998;
}
.toggle-button ul li a.facebook .text {
    color: #3b5998;
}
.toggle-button ul li a.twitter .icon {
    background-color: #1da1f2;
}
.toggle-button ul li a.twitter .text {
    color: #1da1f2;
}
.toggle-button.active {
    height: 150px;
}
/*************************sweet alert modal style*********************/
.swal-overlay {
    background-color: rgba(0, 0, 0, 0.25);
}
.swal-modal {
    background-color: var(--swalModalBgColor);
    border: 0.5px solid #fafafa;
    border-radius: 10px;
    width: 200px;
    height: 200px;
}
.swal-title {
    margin: 0px;
    font-size: 25px;
    color: var(--swalModalTitleColor);
    margin-bottom: 28px;
}
.swal-text {
    background-color: var(--swalModalTextBgColor);
    padding: 17px;
    border: 0.5px solid #Fafafa;
    border-radius: 10px;
    display: block;
    margin: 22px;
    text-align: center;
    color: var(--swalModalTextColor);
}
.swal-button {
    position: fixed;
    top: 0;
    left: 0;
    height: 300px;
    width: 200px;
    background-color: transparent;
    color: transparent;
    z-index: 2;
}
.swal-button:not([disabled]):hover {
    background-color: transparent;
}
.swal-button:focus {
    outline: none;
    box-shadow: none;
}
.swal-icon--success__hide-corners {
    width: 0; 
    height: 0; 
    background-color: transparent;
}
.swal-icon--success:after, .swal-icon--success:before {
    content: none;
}
/* toggle Light/Dark mode color variables */
:root {
  --headerBgLight: url("../images/home-header-light.jpg");
  --headerBgDark: url("../images/home-header-dark.jpg");
  --navbarBgLight: url("../images/navbar-bg-light.jpg");
  --navbarBgDarkMobile: url("../images/navbar-bg-mobile-dark.jpg");
  --navbarBgLightMobile: url("../images/navbar-bg-mobile-light.jpg");
  --bodyBgLight: url("../images/background-light.jpg");
  --bodyBgDark: url("../images/background-dark.png");
  --whiteColor: #fafafa;
  --blackColor: #000;
  --goldenColor: #eca54c;
  --rustyColor:#713200;
  --rustyLightColor:#ff933d;
  --whiteOverlayColor: rgba(255, 255, 255, 0.7);
  --darkOverlayColor: rgba(0, 0, 0, 0.5);
  --noOverlayColor: rgba(0, 0, 0, 0);
}
/*set light theme colors*/
.light-theme {
    --mainHeaderHomepage: var(--headerBgLight);
    --homepageBg: var(--bodyBgLight);
    --navbarBgColor: var(--rustyLightColor);
    --navbarTextColor: var(--blackColor);
    --navbarBgMobile: var(--navbarBgLightMobile);
    --messageHomepage: var(--blackColor);
    --messageHomepageBgColor: var(--whiteOverlayColor);
    --questionColor: var(--blackColor);
    --questionBgColor: var(--whiteOverlayColor);
    --modalBg: var(--bodyBgLight);
    --modalText: var(--whiteColor);
    --messageFinishTest: var(--blackColor);
    --messageFinishTestBgColor: var(--whiteOverlayColor);
    --swalModalBgColor: var(--whiteColor);
    --swalModalTitleColor: var(--blackColor);
    --swalModalTextBgColor: var(--blackColor);
    --swalModalTextColor: var(--whiteColor);
    --footerBgColor: var(--rustyLightColor);
    --footerTextColor: var(--blackColor);
    --footerMobileBgColor: var(--blackColor);
    --footerMobileTextColor: var(--whiteColor);
    --registrationBg: var(--bodyBgLight);
    --registrationText: var(--whiteColor);
    --hintMobileBgColor: var(--rustyLightColor);
    --hintMobileTextColor: var(--blackColor);
    --contactSubmitBtnBg: var(--rustyLightColor);
    --contactSubmitBtnText: var(--blackColor);
}
.dark-theme {
    --mainHeaderHomepage: var(--headerBgDark);
    --homepageBg: var(--bodyBgDark);
    --navbarBgColor: var(--rustyColor);
    --navbarTextColor: var(--whiteColor);
    --navbarBgMobile: var(--navbarBgDarkMobile);
    --messageHomepage: var(--goldenColor);
    --messageHomepageBgColor: var(--noOverlayColor);
    --questionColor: var(--goldenColor);
    --questionBgColor: var(--noOverlayColor);
    --modalBg: var(--bodyBgDark);
    --modalText: var(--whiteColor);
    --messageFinishTest: var(--goldenColor);
    --messageFinishTestBgColor: var(--noOverlayColor);
    --swalModalBgColor: var(--rustyColor);
    --swalModalTitleColor: var(--whiteColor);
    --swalModalTextBgColor: var(--blackColor);
    --swalModalTextColor: var(--whiteColor);
    --footerBgColor: var(--rustyColor);
    --footerTextColor: var(--whiteColor);
    --footerMobileBgColor: var(--rustyColor);
    --footerMobileTextColor:var(--whiteColor);
    --registrationBg: var(--goldenColor);
    --registrationText: var(--blackColor);
    --hintMobileBgColor: var(--rustyColor);
    --hintMobileTextColor: var(--whiteColor);
    --contactSubmitBtnBg: var(--rustyColor);
    --contactSubmitBtnText: var(--whiteColor);
}
/****************transition dark to white mode*********/
* {
  transition: background-color 0.6s ease, color 1s ease;
}
/******************modals section************************/
/***************************modal**********************************/
.modal {
    position: fixed;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    background: var(--modalBg) no-repeat bottom right; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.jumbotron {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 20px;
    max-height: 90vh;
    overflow-y: auto;
    text-align: center;
    border: 0.5px solid #eca54c;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.70);
    color: var(--modalText);
}
/******************************contact form modal******************************/
.contact-image-container {
    height: 100%;
    width: 100%;
}
.contact-image {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contact-form-container {
    color: var(--modalText);
}
.contact-form-title {
    margin-bottom: 20px;
}
.contact-form-message {
    margin-bottom: 30px;
}
.contact-email-row {
    margin-top: 30px;
}
.contact-form-input {
    text-align: center;
    padding-top: 30px;
}
.contact-form-input input {
    border-radius: 10px;
}
.contact-button {
    padding-top: 20px;
}
.enquiry-container {
    margin-top: 40px;
}
#contact-enquiry {
    height: 150px;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}
.contact-button .btn-warning {
    background-color: var(--contactSubmitBtnBg);
    color: var(--contactSubmitBtnText);
    border-radius: 10px;
}
/*****************category choice modal*****************************/
.category-choice div button {
    width: 100px;
    height: 100px;
    margin: 20px 10px;
    background-color: #fafafa;
    color: blueviolet;
    padding-top: 10px;
    border: 2px solid #111111;
    border-radius: 10px;
}
.category-choice div button i {
    font-size: 30px;
}
/*.game-choice .col-4 {
    text-align: center;
}*/
.category-name {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 15px;
    color: #111111;
}
/*.chosen-category-choice-btn {
    background-color: rgb(42, 235, 42);
    color: #000;
}*/
/******************************level choice modal*****************************/
.difficulty-choice {
    margin: 0px 50px;
}
.difficulty-choice div button {
    width: 100px;
    height: 100px;
    margin: 20px 10px;
    background-color: #fafafa;
    color: blueviolet;
    padding-top: 10px;
    border: 2px solid #111111;
    border-radius: 10px;
}
.difficulty-choice div button i {
    font-size: 30px;
}
.difficulty-name {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 15px;
    color: #111111;
}
/*#difficulty-choice-link {
    background-color: #fafafa;
    color: blueviolet;
}*/
#easy-btn {
    background-color: rgb(42, 235, 42);
}
#medium-btn {
    background-color: rgb(255, 238, 0);
}
#hard-btn {
    background-color:rgb(250, 0, 0);
}
/****************************instructions modal************************/
.instructions-container {
    color: var(--modalText);
    line-height: 35px;
    font-family: 'Roboto';
    font-weight: 300;
}
#hr-instructions {
    background-color: #fafafa;
}
.instructions-container div {
    text-align: center;
}
#exit-instructions {
    margin: 0;
}
/****************responsive elements**********************/
@media screen and (min-width:1000px) {
    .main-page-game-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
        margin-left: 150px;
        margin-right: 150px;
    }
    .question-container {
        padding: 10px 25%;
    }
    .multiple-answer-container {
        padding: 10px 15%;
    }
    .counter-container {
        margin: 20px 20%;
    }
    .footer-container {
        position: absolute;
        bottom: 0;
        padding: 20px 250px 5px;
    }
}
@media screen and (max-width: 767px) {
    .navbar-dark .navbar-nav .nav-link {
        padding-left: 10px;
        padding-right: 10px;
    }
    .message-home p {
        font-size: 20px;
    }
    .counter-container {
        margin: 20px 0;
    }
    .jumbotron-reg-form {
        padding: 0;
    }
    .registration-form-label {
        text-align: center;
        padding-bottom: 0;
    }
    .registration-form-input {
        text-align: center;
        padding-top: 0;
    }
    .contact-form-label {
        padding-bottom: 0;
    }
    .contact-form-input {
        padding-top: 0;
        padding-bottom: 10px;
    }
}
@media screen and (max-width: 575px) {
    html, body {
        width:100%;
        overflow-x: hidden;
        height: auto;
    }
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
    .header-container {
        display: none;
    }
    /********navbar mobile*******/
    .navbar-brand {
        display: block;
    }
    .navbar {
        background: var(--navbarBgMobile) no-repeat bottom right; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        z-index: 1;
        top: 0;
        width: 100%;
        left: 0;
        border-radius:0;
        padding-left: 72px;
    }
    .navbar-dark .navbar-nav .nav-link {
        color: #fafafa;
        font-size: 15px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: right;
        margin-left: 40%;
        background-color: rgba(0,0,0,0.8);
    }
    #navbar-brand-text {
        color: #fafafa;
        font-size: 15px;
    }
    .navbar-dark .navbar-brand {
        border: 2px solid #fafafa;
        border-radius: 50%;
        padding-right: 0;
        height: 100px;
        width: 100px;
        margin-right: 0;
        text-align: center;
        padding-top: 15px;
        font-weight: 800;
        background-color: #000;
    }
    .navbar-dark .navbar-toggler {
        color: #fafafa;
        border-color: #fafafa;
        background-color: #000;
    }
    .dropdown-item {
        text-align: right;
        color: #fafafa;
    }
    .dropdown-menu.show {
        display: block;
        background-color: rgba(0, 0, 0, 0.80);
        color: #fafafa;
        margin: 0;
        padding: 0;
        border: 0;
        margin-left: 40%;
    }
    .dropdown-item:focus, .dropdown-item:hover {
        color: rgba(255,255,255,.75);
        text-decoration: none;
        background-color: transparent;
    }
    .go-btn-section {
        margin: 50px 10px;
    }
    .start-btn-section {
        margin: 50px 10px;
    }
    .start-button-container .btn-success {
        margin-top: 0px;
    }
    /*#hint-mobile-message, #hint-mobile-text {
        display: block;
        text-align: center;
        margin-top: 10px;
        background-color: var(--hintMobileBgColor);
        color: var(--hintMobileTextColor);
        margin: 10px 40%;
        border: 0.5px solid #000;
        border-radius: 10px;
    }
    #hint-mobile-text {
        margin: 10px;
        padding: 10px;
        display: none;
    }*/
    .difficulty-selection-container {
        padding-left: 25px;
        padding-right: 0;
        font-size: 20px;
    }
    .difficulty-selection-container label {
        padding-right: 30px;
    }
    .category-choice .col-6 {
        padding: 0;
    }
    .start-button-container {
        margin: 50px 0;
        text-align: center;
    }
    .counter-container {
        margin: 20px 0px;
    }
    #incorrect-answers {
        margin-left: 20px;
    }
    .footer-container {
        position: relative;
        bottom: 0;
        left: 0;
        padding: 20px 20px 5px;
        text-align: center;
        color: #fafafa;
        background-color: var(--footerMobileBgColor);
    }
    .footer-container div i {
        color: var(--footerMobileTextColor);
    }
    .copyright-container {
        font-size: 15px;
        padding-top: 10px;
    }    
    .question-container {
        padding: 10px 5%;
        margin: 50px 10px 0;
        background-color: var(--questionBgColor);
        border-radius: 20px;
    }
    .boolean-answer-container {
        margin: 50px 10px;
        text-align: center;
        padding: 10px;
    }
    .multiple-answer-container {
        margin: 50px 0 20px;
    }
    .btn-end-test .col-6 {
        padding: 0;
    }
    .jumbotron-reg-form {
        position: absolute;
        height: 80vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0;
        margin: 20px 20px;
    }
}
@media screen and (max-width:350px) {
    .navbar {
        padding-left: 72px;
    }
    .container-fluid {
        padding: 0;
    }
    .message-home p {
        font-size: 18px;
    }
    .jumbotron {
        padding: 0;
    }
    .difficulty-selection-container {
        padding-left: 10px;
        padding-right: 0;
        font-size: 15px;
    }
    .footer-container {
        padding: 20px 5px 5px;
        text-align: center;
        color: #fafafa;
    }
    .copyright-container {
        font-size: 10px;
        padding-top: 10px;
    }
}
/*****************homepage game choice section**********************************/
/*.game-choice div button {
    width: 100px;
    height: 100px;
    margin-top: 30px;
    padding-top: 10px;
    border: 2px solid #111111;
    border-radius: 10px;
}
.game-choice {
    margin: 20px 50px;
}
.game-choice .col-sm-6 {
    text-align: center;
}
.game-choice div button i {
    font-size: 30px;
}*/
/*.category-choice-name {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 15px;
    color: #111111;
}*/
/*#category-choice-link {
    background-color: #fafafa;
    color: blueviolet;
}*/
